html {
    background-color: #FdF9Fd;
    color: #2D3047;
    text-align: center;
    box-sizing: border-box;
}
h1{
    font-family: 'Permanent Marker', cursive;
}
#navBar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 5rem;
    margin: 0;
    padding:0;
    

    
}

.navItem {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: 'Glory', sans-serif;

}
